body {
    background-color:  #193549;
}

.box {
    display: flex;
    justify-content: center;
   overflow: auto;
}

.grid {
    display: flex;
   
  
    flex-wrap: wrap;
    max-height: 370px;
    max-width: 400px;
    align-self: stretch;
}

.square {
    width: 3px;
    border: 10px;
    margin: 1px;
    color: gray;
    border-style:solid;
}

.click {
  margin: 30px;
  display: flex;
  flex-grow: 4;
  justify-content: center;
  
}
    
    

.reset {
    background-color: #ff9d00;
    padding: 10px;
    width: 80px;
    font-size: 18px;
    border-color: #ff9d00;
    
}

.etch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    flex-wrap: wrap;
    color: black;
    font-style:italic;
    font-size: 40px;
}
