body {
    background-color:  #193549;
}

.box {
    display: flex;
    justify-content: center;
   overflow: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    
}

.square {
    width: 20px;
    height: 20px;
    
    background: gray;
    
}

.click {
  margin: 30px;
  display: flex;
  flex-grow: 4;
  justify-content: center;
  
}
    
    

.reset {
    background-color: #ff9d00;
    padding: 10px;
    width: 80px;
    font-size: 18px;
    border-color: #ff9d00;
    
}

.etch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    flex-wrap: wrap;
    color: black;
    font-style:italic;
    font-size: 40px;
}
